@import "../../variables"

.BookDetail
  @include MainView;

.BookDetail
  margin: auto
  .detail
    padding: 10px
    background-color: #fff
    border-bottom: $GRAY_BORDER
    $coverWidth: 80px
    overflow: hidden
    .cover
      float: left
      width: $coverWidth
      height: 120px
    .content
      margin-left: $coverWidth + 10px
      p
        text-indent: 2em
    h3
      font-size: 16px
      line-height: 2em
      margin: 0
      padding: 0
  .goOnReading
    display: block
    line-height: 45px
    background-color: #fff
    padding: 0 10px
    border-bottom: $GRAY_BORDER
    i
      margin-right: 5px
    span
      color: $COLOR_GRAY
    .timeline
      font-size: 12px
      margin-right: 3px
      float: right
  .chapters
    h5
      margin: 10px 0
      padding-left: 10px
    ul
      margin: 0
      padding: 0
      list-style: none
      background-color: #f4f4f4
    li
      border: 1px solid rgba(221, 221, 221, 0.6)
      padding: 10px
      a
        color: $COLOR_BLACK
        display: block
      &:nth-child(odd)
        background-color: #fff

    